@model Vacation

@if (Model.Planner != null) {
    <h1>@Model.Planner.FirstName's trip to @Model.Title</h1>
}
else
{
    <h1>@Model.Title</h1>
}

@if (Model.ImgUrl != null)
{
    <img src="@Model.ImgUrl" alt=""/>
}

<h3>Here's Everybody that's going to @Model.Title</h3>
@foreach (UserVacationSignup registration in Model.JoinedVisitors)
{
    if(registration.Vacationer != null)
    {
        <p>@registration.Vacationer.FirstName @registration.Vacationer.LastName</p>
    }
}