@model List<Post>
<h3>Welcome @Context.Session.GetString("Name"), UUID: @Context.Session.GetInt32("UUID")</h3>

<h1>Come view our posts!!</h1>

<a href="/posts/new">Create a new post</a>

@foreach (Post post in Model)
{
    <div class="card shadow rounded mx-auto w-75 mb-3">
        <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
        @post.Topic
        </h4>

        <div class="card-body">
        <p class="card-text">@post.Body</p>
        <small class="text-muted"> Submitted on: @post.CreatedAt </small>
        </div>

        @if (post.ImgUrl != null && post.ImgUrl != "") {
            <img src="@post.ImgUrl" alt="related to post." class="card-img-bottom" />
        }
        <a 
            asp-action="ViewPost"
            asp-route-postId="@post.PostId"
        >View Details</a>

        <a href="/posts/@post.PostId" >View But w/ href</a>

    </div>
}