@model List<Post>

@Context.Session.GetInt32("UUID")
@Context.Session.GetString("Username")

<a href="/posts/new">Create a Post</a>
<a href="/profile">View Profile</a>

<h2 class="text-center">All Posts</h2>
<hr />


@* 
This can still be donw w/o a partial by
1)Make the page @model Post and then
put the List<Post> into ViewBag
2)OR creating a wrapper class for THIS PAGE's model that contains 2 properties: a List<Post> & a single Post
 *@
@{
  Post newPost = new Post();
}
<partial name="_New" model="@newPost"></partial>

@foreach (Post post in Model) {
  <div class="card shadow rounded mx-auto w-75 mb-3">
    <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
      @post.Topic: created by @post.Author.Username
    </h4>

    <div class="card-body">
      <p class="card-text">@post.Body</p>
      <small class="text-muted"> Submitted on: @post.CreatedAt </small>
    </div>
    <a 
        asp-controller="Posts"
        asp-action="GetOnePost"
        asp-route-onePostId="@post.PostId"
        class="btn btn-outline-info"
    >
      View Details
    </a>
    <img src="@post.ImgUrl" alt="related to post." class="card-img-bottom" />
    @{ bool alreadyLiked = post.PostLikes.Any(like => 
      like.UserId == Context.Session.GetInt32("UUID")
    ); }
    <div class="card-footer text-center">
      <form
        asp-controller="Posts"
        asp-action="Like"
        asp-route-postId="@post.PostId"
      >
        <p>Likes: @post.PostLikes.Count</p>
        <button class="btn btn-outline-info">
          @if (alreadyLiked)
          {
            <span>Unlike</span>
          }
          else
          {
            <span>Like</span>
          }
        </button>
      </form>
    </div>
  </div>
}
