@model Post

<a href="/posts">View All Posts</a>

<h2>@Model.Topic @Model.Author.Username</h2>
<div>@Model.Body</div>
@if(Model.ImgUrl != null)
{
    <div>@Model.ImgUrl</div>
}

@* conditionally show edit/delete if post was created by logged in user *@
@if (Model.UserId == Context.Session.GetInt32("UUID"))
{
    <a href="/posts/@Model.PostId/edit">Edit</a>
    <form
        asp-controller="Posts"
        asp-action="DeletePost"
        asp-route-deletedPostId="@Model.PostId"
        method="POST"
    >
        <button class="btn-outline-danger">Delete</button>
    </form>
}